.roundlet {
    margin: 0;
    padding: 14px;
    background-color: #eee;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #ddd;
}

.roundlet.first {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.roundlet.last {
    border-width: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.roundlet.atomic {
    margin: 0;
    padding: 14px;
    background-color: #eee;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #ddd;
	border-top-left-radius: 8px;
    border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.nominee {
	margin: 6px;
	padding: 14px;
	display:block;
	background-color: #dfd;
	border:1px solid #aea;
	border-top-left-radius: 8px;
    border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
	height: 400px;
}

.nominee_photo {
	height: 197px;
	width: auto;
	float: left; 
	margin: 4px;
}

.vote_counter {
	position: fixed;
	display:block;
	background-color: #eee;
	border:1px solid #ddd;
	padding: 7px;
	top: 35%;
	left: 0;
	border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}