<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>

	{% include navbar.html %}

    <div class="container">
	  <div class="row">
		<div class="span6" style="height:100%;">
		  <h1>{! config['name'] !} {% if config['status'] == 'nominations' %}Nominations{% else %}Voting{% end if %}</h1>
		  <p>
			Welcome to the {! config['name'] !} nominations and voting site.
		  </p>
		  <h2>
			{% if config['status'] == 'nominations' %}
			<span style="color:#00dd00">Nominations are currently open.</span>
			{% else %}{% if config['status'] == 'voting' %}
			<span style="color:#00dd00">Voting is currently open.</span>
			{% else %}
			<span style="color:#dd0000">Voting is currently closed.</span>
			{% end if %}{% end if %}
		  </h2>
		</div>
		<div class="span6">
		  {*
		  {% if user is not None %}
		  <h3><h3> <!-- Should have their name, idk how to -->
		  <br>
		  {% end if %}
		  *}

		  {% if user is not None %}
		  {% if config['status'] == 'nominations' %}
		  {% if not config['prenominate'] %}
		  <h2 class="page-header">Pending Requests for Nominations</h2>

		  <!-- Pending requests will go here... -->
		  {% end if %}

		  {% if user.student_info.is_nominee %}
		  <h2 class="page-header">You are a nominee.</h2>
		  
		  {% if len(user.student_info.nominee_fields) == 0 %}
		  <h3>You have not submitted a statement</h3>
		  {% end if %}
		  {% for field in config['nominee_fields'] %}
		  {% if field['name'] in user.student_info.nominee_fields %}
		  <h3>{! field['question'] !}</h3>
		  <blockquote>
			{! user.student_info.nominee_fields[field['name']] !}
		  </blockquote>
		  {% end if %}
		  {% end for %}
		  {% else %}
		  You are not a nomineed
		  {% end if %}
		  
		  {% else %}
		  <h2 class="page-header">
			{% if not has_voted %}
			You have not yet voted.
			{% else %}
			You have already cast your vote.
			{% end if %}
		  </h2>
		  {% end if %}
		  {% end if %}
		</div>
	  </div>
	  
	  <hr>
	  {*
      <footer class="footer">
	  </footer>
	  *}
    </div> <!-- /container -->

	{% include scripts.html %}

  </body>
</html>
