<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    
    {% include navbar.html %}

	{% if valid != 0 %}
	<div class="span6" style="color:red; font-size:16pt">
	  <div class="roundlet atomic span6">
		{% if valid == 1 %}
		Password does not match
		{% else %} {% if valid == 2 %}
		Username does not exist
		{% end if %}{% end if %}
	  </div>
	</div>
	<br><br><br>
	{% end if %}

    <div class="container">
      
      <form method="post" action="/login">
        <h5>Username (Same as det login)</h5>
        <input type='text' name='username' style='width: 200px;'></textarea>
        <br>
        <h5>Password (Student number)</h5>
        <input type='password' name='password' style='width: 200px'></textarea>
        <br>
        <input type='submit' value="Login">
      </form>
      
      <hr>
      {*
      <footer class="footer">
      </footer>
      *}
    </div> <!-- /container -->

    {% include scripts.html %}

  </body>
</html>
