    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">{! config['name'] !}
			{% if config['status'] == 'nominations' %}Nominations{% else %}Voting{% end if %}</a>
          <ul class="nav">
			{% for p in pages %}
            <li{% if p == page %} class="active"{% end if %}><a href="{% safe p.url %}">{! p.title !}</a></li>
            {% end for %}
          </ul>
          <ul class="nav pull-right">
            {% if user is not None %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{! user.firstname + ' ' + user.lastname !}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/logout">Sign out</a></li>
              </ul>
            </li>
            {% end if %}
          </ul>
        </div>
      </div>
    </div>
