<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
	
	{% include navbar.html %}
    <div class="container">
	  
	  <form method="post" action="/nominate">
		<h3>What leadership experience have you had?</h3>
		<textarea name='leadership_experience' style='width: 600px; height: 200px'>
Write your leadership experience here.</textarea>
		<br>
		<h3>Why do you want to be a member of the Student Representative Council?</h3>
		<textarea name='why' style='width: 600px; height: 200px'>
Write about why you want to be an SRC member here.</textarea>
		<br>
		<input type='submit' value="Submit Nomination Form">
	  </form>
	  
	  <hr>
	  {*
      <footer class="footer">
	  </footer>
	  *}
    </div> <!-- /container -->

	{% include scripts.html %}

  </body>
</html>
