<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
	<div id="variables" data-num-votes="{! config['num_votes'] !}"></div>
	
	{% include navbar.html %}

    <div class="container">
	  <form method="post" action="/vote">
		<div class="row">
		  <div>
			<div class="vote_counter">
			  Votes:<br>
			  <span id="num_votes">0</span> / {! config['num_votes'] !}
			  <br>
			  <input id="submit_votes" type="submit" value="Go" disabled="true">
			</div>
			{% for column in nominees %}
			<div class="span4">
			  {% for nominee in column %}
			  <label>
				<div class="nominee">
				  <span style="font-size: 12pt">{! nominee.firstname !} {! nominee.lastname !}</span>
				  <input class="vote_box" style="float: right" type="checkbox" name="{! nominee.userid !}" onchange="changed_vote(this);">
				  <br>
				  <img class="nominee_photo" src="/static/photos/{! nominee.lastname !}, {! nominee.firstname !}.jpg">
				  {% for field in nominee.student_info.nominee_fields %}
				  <span style="font-size: 10pt" title="{! field !}">
				  {% safe nominee.student_info.nominee_fields[field] %}
				  <span>
				  {% end for %}
				</div>
			  </label>
			  {% end for %}
			</div>
			{% end for %}
		  </div>
		</div>
		<input type="hidden" name="csrf" value="{! csrf !}">
	  </form>
	  
	  <hr>
	  {*
      <footer class="footer">
	  </footer>
	  *}
    </div> <!-- /container -->

	{% include scripts.html %}
	<script src="/js/voting.js"></script>

  </body>
</html>
